.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 25px;
	background-color: #FFFFFF;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #DDDDDD solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	/*line-height: 1.42857;*/
    padding: 8px;
    /*vertical-align: top;*/
	border: 2px solid #ddd;
}

.grid-view table.items th
{
	color: #428bca;
	text-align: center;
	/*font-size: 0.9em;
	line-height: 1.42857;*/
    /*padding: 8px;*/
}

.grid-view table.items th a
{
	color: #428bca;
	font-weight: bold;
	text-decoration: none;
	/*padding: 8px;*/

}

/*.grid-view table.items th a:hover
{
	color: #FFF;
}
*/
.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	/*padding-right: 10px;*/
	/*padding: 8px;*/
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	/*padding-right: 10px;*/
	/*padding: 8px;*/
}

/*.grid-view table.items tr.even
{
	background: #F8F8F8;
}

.grid-view table.items tr.odd
{
	background: #E5F1F4;
}*/

/*.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66;
}*/

/*.grid-view table.items tbody tr:hover
{
	background: #ECFBD4;
}*/

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
/*	margin: 0 0 5px 0;
	text-align: right;
	background-color: #FFFFFF;*/
}

.grid-view .pager
{
	/*margin: 5px 0 0 0;*/
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

/*.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}*/